.container{
    display: grid;
    width: 60%;
    margin-left: 20%;
    height: 80vh;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.block{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.comp{
    background-image: url("./Images/comp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.you{
    background-image: url("./Images/you.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.result{
    height: 15vh;
    font-size: 4rem;
    color: greenyellow;
    text-align: center;
}
